@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LaEmpresaInc. S.A.</h1>
    <p></p>
    <p></p>
    <p> Puede encontrar nuestra lista de clientes <a asp-controller="Client" asp-action="Index">Aquí</a></p>
</div>
