@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <p>Esta aplicación está corriendo desde su computadora. Trate que no se escape :)</p>
    <img srcset="https://vincentdnl.com/static/d39b503cebf83760d389b29b8c66d03b/6a068/semicolon2.jpg" /> 
</div>